<center>
<h1>Facebook</h1>
Facebook helps you connect and share with the people in your life.<br>
<br><a href="http://localhost:5000/login"><button>Login</button></a>
<a href="http://localhost:5000/signup"><button>Signup</button></a>
</center>