<center>
<h1>Login page</h1>


<p>THIS IS THE LOGIN PAGE</p>
<form>
Email:<br>
<input type ="email" placeholder ="Enter your Email" name="email"><br>
Password:<br>
<input type ="password"  placeholder ="Enter your password" name="password"><br>
<br><button>Login</button><br>
</form>
<br><a href="http://localhost:5000/"><button>Homepage</button></a><br>
</center>