<center>
<h1>Signup page</h1>


<p>THIS IS THE SIGNUP PAGE</p>
<form>
    Firstname:<br>
    <input type ="text" placeholder ="Enter your Firstname" name="fname"><br>
    Lastname:<br>
    <input type ="text" placeholder ="Enter your Lastname" name="lname"><br>
    Email:<br>
    <input type ="email" placeholder ="Enter your Email" name="email"><br>
    Password:<br>
    <input type ="password"  placeholder ="Enter your password" name="password"><br>
   <br><button>Signup</button><br>
</form>
<a href="http://localhost:5000/"><button>Homepage</button></a>
</center>
